h1{
    color: black;
    border: 3px solid black;
    margin: 20px;
    padding: 5px;
    text-align: center;
}
#sections-container{
    display: flex;
    gap: 15px;
}
/*Styling for doggo section*/
#container{
    background-color: bisque;
    border: 3px black solid;
    width: 600px;
    height: 900px;
}
#picture-container {
    border: 3px black solid;
    background-color: burlywood;
    width: auto;
    height: 75%;
    margin: 20px;
    padding: 20px;
}
#btnPicture{
    margin: 20px;
    padding: 5px;
    width: auto;
    height: auto;
    box-sizing: border-box;
    border-radius: 8px;
}
#puppyPicture{
    width: 100%;
    height: 100%;
}
/*Styling for kitty section*/
#cat-container{
    background-color: bisque;
    border: 3px black solid;
    width: 600px;
    height: 900px;
}
#cat-picture-container {
    border: 3px black solid;
    background-color: burlywood;
    width: auto;
    height: 75%;
    margin: 20px;
    padding: 20px;
}
#btnCatPicture{
    margin: 20px;
    padding: 5px;
    width: auto;
    height: auto;
    box-sizing: border-box;
    border-radius: 8px;
}
#kittyPicture{
    width: 100%;
    height: 100%;
}