h1{
    color: black;
    margin: 20px;
    text-align: center;
}
#container{
    background-color: bisque;
    border: 3px black solid;
    width: 600px;
    height: 900px;
}
#picture-container {
    border: 3px black solid;
    background-color: burlywood;
    width: auto;
    height: 75%;
    margin: 20px;
    padding: 20px;
}
#btnPicture{
    margin: 20px;
    padding: 5px;
    width: auto;
    height: auto;
    box-sizing: border-box;
    border-radius: 8px;
}
#puppyPicture{
    width: 100%;
    height: 100%;
}